html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--main-font-family), Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.header_container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.main-font-style {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.no-lines-under-link {
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms var(--time-graf);
  transition: -webkit-box-shadow 250ms var(--time-graf);
  transition: box-shadow 250ms var(--time-graf);
  transition: box-shadow 250ms var(--time-graf), -webkit-box-shadow 250ms var(--time-graf);
}

.no-dots-ul {
  list-style: none;
}

.no-cursive {
  font-style: normal;
  margin-top: 20px;
}

.btn {
  display: inline-block;
  background-color: #2196f3;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.no-margin {
  margin: 0;
}

/** @format */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--main-font-family), Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.header_container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.main-font-style {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.no-lines-under-link {
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms var(--time-graf);
  transition: -webkit-box-shadow 250ms var(--time-graf);
  transition: box-shadow 250ms var(--time-graf);
  transition: box-shadow 250ms var(--time-graf), -webkit-box-shadow 250ms var(--time-graf);
}

.no-dots-ul {
  list-style: none;
}

.no-cursive {
  font-style: normal;
  margin-top: 20px;
}

.btn {
  display: inline-block;
  background-color: #2196f3;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.no-margin {
  margin: 0;
}

.header_nav_link, .header_contacts_link {
  font-family: Roboto;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header_nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.header_nav_list .header_nav_list_item:not(:last-child) {
  margin-right: 50px;
  position: relative;
}

.header_nav_link {
  color: black;
}

.header_nav_link:focus, .header_nav_link:hover {
  color: #2196f3;
}

.active-link {
  color: #2196f3;
}

.active-link::after {
  -webkit-transform: translateY(28px);
          transform: translateY(28px);
  position: absolute;
  width: inherit;
  display: block;
  width: 100%;
  content: "";
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.header_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding: 0;
}

.header {
  border-bottom: 1px solid #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo_link {
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-blacker {
  color: black;
}

.header_contacts_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header_contacts_item + .header_contacts_item {
  margin-left: 30px;
}

.header_icon {
  margin-right: 10px;
  fill: currentColor;
}

.header_contacts_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}

.header_contacts_link:hover, .header_contacts_link:focus {
  color: #2196f3;
}

/** @format */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--main-font-family), Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.header_container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.main-font-style {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.no-lines-under-link {
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms var(--time-graf);
  transition: -webkit-box-shadow 250ms var(--time-graf);
  transition: box-shadow 250ms var(--time-graf);
  transition: box-shadow 250ms var(--time-graf), -webkit-box-shadow 250ms var(--time-graf);
}

.no-dots-ul {
  list-style: none;
}

.no-cursive {
  font-style: normal;
  margin-top: 20px;
}

.btn {
  display: inline-block;
  background-color: #2196f3;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.no-margin {
  margin: 0;
}

.hero {
  background-image: url(../images/img-bg-optimized.jpg);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img-bg-optimized.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-bg-optimized.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  font-family: Roboto;
}

.hero-heading {
  font-family: inherit;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */