/** @format */



.team-bg {
  background-color: var(--second-bg-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 0;
  padding-right: 0;
}

.centered {
  width: 1600px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--main-bg-color);
}


.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}


/*index-page*/



.border-botom {
  border-bottom: 1px solid #ececec;
}

.positions {
  display: flex;
  align-items: center;
}

.just-nav {
  margin-right: auto;
}

.just-nav > ul {
  display: flex;
}
.just-contacts {
  display: flex;
}

.nav {
  padding: 0;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.section-headline {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.team-headline {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

.members-cards {
  display: flex;
  justify-content: center;
  padding: 0;
}

.members-cards .item {
  text-align: center;
  width: 270px;
  margin-right: 30px;
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.members-cards .item img {
  display: block;
}

.members-cards .item:last-child {
  margin-right: 0;
}

.member-card-name-position {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member-card-discription {
  margin: 0;
  margin-bottom: 16px;
}

.bla-bla-h-section {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}

.nav-link,
.nav-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;

}

.nav-link {
  color: var(--second-text-color);
  transition: color 250ms var(--time-graf);

}
.nav-link:hover,
.nav-link:focus {
  color: var(--optional-color);
}
.nav .item + .item {
  margin-left: 50px;
}
.nav .item{
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.just-contacts .item + .item {
  margin-left: 50px;
}

.active-link { 
  color: var(--optional-color);
}

.active-link::after{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  content: "";
  height: 4px;
  background-color: var(--optional-color);
  border-radius: 2px;}

.link-and-icon {
  display: flex;
  align-items: center;
  padding: 0;
  transition: color 250ms var(--time-graf);
}

.logo-link {
  margin-right: 93px;
}

.link-and-icon:hover,
.link-and-icon:focus {
  color: var(--optional-color);
}

.just-contacts {
  padding: 0;
}
.just-contacts .item {
  color: var(--main-text-color);
}

.nav-contacts {
  color: var(--main-text-color);
}

.nav-tel {
  color: var(--main-text-color);
}

.advantages {
  padding: 0;
  display: flex;
}
.advantages .item {
  width: calc((100% - 90px) / 4);
  margin-left: 30px;
}

.advantages .item:first-child {
  margin-left: 0;
}
.advantages-container {
  padding-bottom: 0;
  width: 1170;
}

.examples {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.examples .item {
  width: calc(100% - 60px) / 3;
}

.examples img {
  display: block;
}

.team-list {
  padding-top: 94px;
  padding-bottom: 50px;
}

.inverse-color {
  background-color: var(--footer-hero-bg-color);
  color: var(--main-bg-color);
}

.foo-links {
  margin-top: 9px;
  padding-left: 0;
}

.foo-links li:not(:first-child) {
  margin-top: 9px;
}

.inverse-link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--time-graf);
}

.inverse-link:focus,
.inverse-link:hover {
  color: var(--optional-color);
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}

.footer-social-header {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16.41 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-link-container {
  margin-left: 80px;
}

.footer-rounded-list {
  margin-top: 20px;
  display: flex;
  padding: 0;
}

.footer-rounded-list li:not(:last-child) {
  margin-right: 10px;
}
.contact-img {
  fill: var(--optional-color);
  width: 16px;
  height: 12px;
}

footer .container {
  display: flex;
}
.hero {
  background-image: url(../images/img-bg-optimized.jpg);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-bg-optimized.jpg);

  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-marketing {
  color: var(--main-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.hero-btn {
  display: inline-block;
  background-color: var(--optional-color);
  color: var(--main-bg-color);
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.logo-optional-color {
  color: var(--optional-color);
}
.logo-white-color {
  color: var(--main-bg-color);
}
.logo-black-color {
  color: var(--second-text-color);
}
.headline-blacker {
  color: var(--second-text-color);
}
.invisible {
  display: none;
}

/*icons*/

.icon-phone {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}
.icon-envelope {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}
.advantages-icons {
  width: 70px;
  height: 70px;
}
.svg-container {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-bg-color);
  margin-bottom: 30px;
}
.social-links {
  display: flex;
  justify-content: center;
  padding: 0;
}
.social-links .rounded-icon:not(:last-child) {
  margin-right: 10px;
}
.rounded-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: background-color 250ms var(--time-graf), fill 250ms var(--time-graf);
}

.clients {
  display: flex;
  padding: 0;
  fill: #afb1b8;
  color: #757575;
}

.clients .item:not(:last-child) {
  margin-right: 30px;
}
.client-interactive {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: #afb1b8 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--optional-color);
  color: var(--optional-color);
}

.client-item {
  fill: #afb1b8;
}

.footer-rounded-list .rounded-icon {
  background-color: rgba(255, 255, 255, 0.1);
  fill: white;
}

.rounded-icon:hover,
.rounded-icon:focus {
  background-color: var(--optional-color);
  fill: white;
}

.test svg{
  transition: fill 250ms var(--time-graf);
}
.test{
  transition: border 250ms var(--time-graf);
}

.test:hover svg,
.test:focus svg {
  fill: var(--optional-color);
}
.test:hover,
.test:focus {
  border: var(--optional-color) 1px solid;
}

/*modal*/

.backdrop{
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  cursor: not-allowed;  
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--time-graf), visibility 250ms var(--time-graf);

}

.modal-window{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px; 

  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}


.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.x-in-circle-btn{
  padding: 0;
  display: flex;
  width: 30px; height: 30px;
  align-items: center;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 8px;
  margin-top: 8px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.x-in-circle-btn svg{
  margin-right: auto;
  margin-left: auto;
}

/*animation*/
