/** @format */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $main-font-family, Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

%container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 0;
  padding-right: 0;
}

.main-font-style {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.no-lines-under-link {
  text-decoration: none;
  transition: box-shadow 250ms $time-graf;
}

.no-dots-ul {
  list-style: none;
}
.no-cursive {
  font-style: normal;
  margin-top: 20px;
}

.btn {
  display: inline-block;
  background-color: $optional-color;
  color: $main-bg-color;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.no-margin {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section_heading {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: calc(42/36);
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}

%social_link_round{
  display: flex;
  width: 44px;height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background 250ms $time-graf;

  &:hover, &:focus{
    background-color: $optional-color;
    fill: white;
  }
}

.social_link_item:not(:last-child){
  margin-right: 10px;
}